.outer{
  overflow: hidden;
  padding: 30px;
  width: 380px;
  margin: auto;
  margin-top: 60px;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  height: 450px;
}
.inner{
  border: 20px;
  margin-top: 20px;
}
.child{
  display: flex;
  justify-content: center;
  font-size: 1.15rem;
}
.child .color-fundoo{
  font-weight: bold;
  margin-top: 25px;
}
.child-signin{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.5rem;
}
.child-use{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1rem;
}
.user{
  width: 100%;
  margin-top: 25px;
  // margin-left: 10px;
  // margin-right: 10px;
}
.btns{
  display: flex;
  justify-content: flex-end;
  margin-top: 17px;
}
.submit-btn a{
  color: white;
}
.submit-btn .click{
  background-color:#3574da;
}