<div class="container">
    <div *ngFor="let note of noteArray">
        <mat-card class="cards" [style.background]="note?.color" >
            <div class="main" *ngIf="note.title && note.description">
                <div class="title"  (click)="openDialog(note)">
                    <h2>{{note.title}}</h2>
                </div>
                <div class="description"  (click)="openDialog(note)">
                    <p>{{note.description}}</p>
                </div>
            </div>
            <div class="main" *ngIf="!note.title && !note.description">
                <div class="title"  (click)="openDialog(note)">
                    <h1>Empty Note</h1>
                </div>
            </div>
            <div class="icons" *ngIf="!note.isDeleted">
               <app-icons [notecard]="note"></app-icons>
            </div>
            <div class="icons" *ngIf="note.isDeleted">
                <app-deleteicon [notecard]="note"></app-deleteicon>
            </div>
            <!-- <div class="icons" *ngIf="note.isArchived">
                <app-archiveicon [notecard]="note"></app-archiveicon>
            </div> -->
        </mat-card>
    </div>
</div>