.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5%;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}
.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 10px;
    margin-top: 5%;
    width: 200px;
    height: 100px;
    overflow: hidden;
    // visibility: hidden;
}
.icons{
    visibility: hidden;
  
}
.card:hover .icons{
    visibility: visible;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 90px;
}
.title{
    display: flex;
    flex-direction: row;
}
.pin{
    margin-left: auto;
}
// .mat-icon-button{
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
// }
@media(max-width : 770px){
    .card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-right: 10px;
        margin-top: 5%;
        width: 200px;
        height: 100px;
    }
}
@media(max-width : 1025px){
    .card{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-right: 10px;
        margin-top: 5%;
        width: 300px;
        height: 100px;
    }
}
