<div style="display: flex; justify-content: space-between;  height: 15%;">
   
    <button mat-icon-button>
        <mat-icon>add_alert</mat-icon>
    </button>
    
    <button mat-icon-button>
        <mat-icon >perm_identity</mat-icon>
    </button>

    
    <button mat-icon-button>
            <mat-icon>color_lens</mat-icon>
    </button>
    
   
    <button mat-icon-button (click)="unarchive()">
        <mat-icon >unarchive</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
</div>