    <div class="container">
        
            <mat-card class="card"  [style.background]="notes?.color">
                <div class="main">
                    <div class="title">
                        <textarea class="title-top" placeholder="Title"  [(ngModel)]="title"></textarea>
                    </div>
                    <div class="description">
                        <textarea placeholder="Take a note..." class="notes-description"  [(ngModel)]="description"></textarea>
                    </div>
                </div>
                <div class="icons" style="display: flex; justify-content: space-between;  height: 15%;">
                  
                    <app-icons [notecard]="notes"></app-icons>

                    <div class="close" (click)="updateNotes()">Close</div>
                </div>
            </mat-card>
    </div>
