<div class="body">
    <div class="toolbar" style="display: flex">
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>
        <div class="logo">
            <img src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png" alt="">
            <div class="image"><p>FunDoo</p></div>    
        </div>
        <div class="center searchBar ">
            <div class="container">
                <button class="button" >
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <input type="text" placeholder="Search" style="background-color: transparent">
        </div>
    </div>
</div>
        
  
 