<div class="outer">
    <div class="inner">
        <div class="child">
            <div class="array">
                <div class="headerarray" *ngFor="let fontcolor of fontcolors,let i=index">
                    <h1 class="headerName" [style]=fontcolor>{{fontletters[i]}}</h1>
                </div>
            </div>
        </div>
        <div class="child-signin">
            <span>Find your email</span>
        </div>
        <div class="child-use">
            <span>Enter your phone number or recovery email</span>
        </div>

        <form [formGroup]="forgetpassword" (ngSubmit)="onSubmit()">
        
            <div class="email-form-item">
                <mat-form-field class="user" appearance="outline">
                <mat-label >Phone number or email</mat-label>
                <input matInput placeholder="" formControlName="email" >
                <mat-hint *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <mat-hint *ngIf="f.email.errors.required">!Email is required</mat-hint>
                <mat-hint *ngIf="f.email.errors.email">Email must be a valid email address</mat-hint>
                </mat-hint>
                </mat-form-field>
            </div>
            
            <div class="btns">
                <div class="submit-btn"> 
                    <button class="click" type="submit" mat-raised-button (click)="onSubmit()" ><a>Next</a></button>
                </div>
            </div>
        </form>
    </div>
</div>
